<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cvkayitvearsivleme.Properties.Settings.cvkayitvearsivlemeConnectionString"
            connectionString="Data Source=DESKTOP-4JD2R8F\;Initial Catalog=cvkayitvearsivleme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cvkayitvearsivleme.Properties.Settings.cvkayitvearsivlemeConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\cvkayitvearsivleme.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>